body {
    margin: 0;
    background: linear-gradient(135deg, #003366, #0055aa);
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
}
